.wrapper {
	max-width: 90%;
	margin: 0 auto;
}

.cards {
	display: flex;
	flex-wrap: wrap;
	align-items: flex-start;
	justify-content: space-evenly;
}

.card {
	background: #f8f7f5;
	box-sizing: border-box;
	margin: 1rem 0.25em;
	cursor: pointer;
}

.card img {
	display: block;
	width: 100%;
	height: auto;
	padding: 1.5em 0 0em;
}

.card-content {
	padding: 10px;
}

.card-info {
	font-size: 1em;
	line-height: 1.8;
}

.card-icon {
	display: flex;
	justify-content: flex-end;
}

.animation {
	min-height: 50vh;
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
}

.animation img {
	height: 200px;
	width: auto;
	animation: eye 3s infinite ease-out;
}

@keyframes eye {
	0% {
		transform: scale(1); /* scaling to 0 */
	}
	50% {
		transform: scale(1.2); /* increasing the size */
	}
	70% {
		transform: scale(0.8); /* decreasing the size */
	}
	100% {
		transform: scale(1); /* seeting back to initial size */
	}
}

@media only screen and (max-width: 840px) {
	.card {
		max-width: calc(50% - 1em);
	}
}

@media only screen and (min-width: 840px) {
	.card {
		max-width: calc(25% - 1em);
	}
}

@media only screen and (min-width: 1170px) {
	.wrapper {
		max-width: 1170px;
	}
	.card {
		max-width: calc(25% - 1em);
	}
}
