.container {
	min-height: 100vh;
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	font-size: calc(10px + 2vmin);
	color: #282c34;
}

.card {
	margin: 1em;
	padding: 1em;
	cursor: pointer;
	position: relative;
	width: 50%;
	max-width: 300px;
}

.card-info {
	display: flex;
	flex-wrap: nowrap;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
}

.overlay {
	position: absolute;
	bottom: 0;
	background: rgb(0, 0, 0);
	background: rgba(190, 188, 188, 0.8); /* Black see-through */
	color: #f1f1f1;
	width: 100%;
	transition: 0.5s ease;
	opacity: 0;
	color: white;
	font-size: 0.9rem;
	padding: 1em;
	/* text-align: center; */
}

.card:hover .overlay {
	opacity: 1;
}

.card p {
	padding: 0.2em;
}

.card img {
	max-width: 300px;
	height: auto;
	/* display: block;
  width: 100%;
  height: auto; */
}

/* .container img:hover {
	opacity: 0.8;
} */

.loader {
	border: 10px solid #f3f3f3;
	border-radius: 50%;
	border-top: 10px solid #353535;
	width: 60px;
	height: 60px;
	-webkit-animation: spin 2s linear infinite; /* Safari */
	animation: spin 2s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
	0% {
		-webkit-transform: rotate(0deg);
	}
	100% {
		-webkit-transform: rotate(360deg);
	}
}

@keyframes spin {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}
