.container {
	min-height: 100vh;
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	font-size: calc(10px + 2vmin);
	background-color: #f9f7f5;
	color: #282c34;
}

.container > div {
	background-color: #f1f1f1;
	margin: 1em;
	padding: 1em;
	font-size: 1rem;
}
