.nav-wrapper {
	height: 80px;
	width: 100%;
	background: #ffffff;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 2rem;
	font-size: 1.2rem;
}

.nav-sculpture-logo {
	cursor: pointer;
	color: #282c34;
	padding: 0.5em;
	opacity: 1;
	transition: all 0.5s ease-out;
	-webkit-transition: all 0.5s ease-out;
	text-decoration: none;
}

.nav-sculpture-logo-active {
	cursor: pointer;
	padding: 0.5em;
	color: #282c34;
}

.nav-sculpture-logo:hover {
	opacity: 0.5;
}

.nav-collection-logo {
	cursor: pointer;
	color: #282c34;
	padding: 0.5em;
	opacity: 1;
    transition: all 0.5s ease-out;
	-webkit-transition: all 0.5s ease-out;
	text-decoration: none;
}

.nav-collection-logo-active {
	cursor: pointer;
}

.nav-collection-logo:hover {
	opacity: 0.5;
}
