.search-filter-sort {
	background-color: #ffddd7;
	width: 100%;
}

.wrapper {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	align-items: center;
	justify-content: space-around;
	max-width: 1170px;
}

@media screen and (max-width: 600px) {
	.search-filter-sort {
		flex-direction: column;
		justify-content: space-evenly;
	}
}
