.container-searchbar {
	display: flex;
	align-items: center;
	justify-content: center;
	/* height: 10vh; */
	width: 20%;
	padding: 1em;
	/* margin-top: 1.6em;
	margin-bottom: 0.2em;
	margin-left: 10%; */
	margin-left: 1em
}

.container-searchbar input {
	border: none;
	/* width: 40vw; */
	background-color: #f7f6eb;
	/* border-bottom: 2px solid #282c34; */
	outline: none;
	color: #282c34;
	font-size: 1.4rem;
	height: 8vh;
	text-indent: 1em;
}

::placeholder {
	color: #afafaf;
}
