.container-searchbar {
	display: flex;
	align-items: center;
	justify-content: center;
}

.container-searchbar input {
	border: none;
	width: 40vw;
	background-color: #f7f6eb;
	outline: none;
	color: #282c34;
	font-size: 1.4rem;
	height: 6vh;
	text-indent: 1em;
}

::placeholder {
	color: #afafaf;
}

.container-searchbar button {
	background-color: #FFDDD7;
	border: none;
	height: 6vh;
	padding: 4px 8px;
	transition-duration: 0.4s;
	cursor: pointer;
}

.container-searchbar button:hover {
	background-color: #D44B02;
	color: white;
}

@media screen and (max-width: 600px) {
	.container-searchbar {
		margin-top: 1em;
		margin-bottom: 1em;
		/* width: 100%; */
	}

	.container-searchbar input {
		height: 8vh;
		width: 100%;
		
	}
}
