.container-searchbar {
	display: flex;
	align-items: center;
	justify-content: center;
}

.container-searchbar input {
	border: none;
	width: 40vw;
	background-color: #f7f6eb;
	outline: none;
	color: #282c34;
	font-size: 1.4rem;
	height: 6vh;
	text-indent: 1em;
}

::placeholder {
	color: #afafaf;
}

@media screen and (max-width: 600px) {
	.container-searchbar {
		margin-top: 1em;
		width: 100%;
	}

	.container-searchbar input {
		height: 8vh;
	}
}
