input#menu {
	display: none;
}

.dropdown-menu {
	background: #fff;
	padding: 0px 0px 0px 20px;
	background-color: #f7eeeb;
	width: 20%;
	/* margin-top: 10px;
	margin-left: 10%;
	margin-right: 10%; */
}

.dropdown-menu ul {
	cursor: pointer;
	list-style-type: none;
	padding: 5px;
}

.dropdown-menu li {
	padding: 0.3rem;
}

.dropdown-menu li:hover {
	background-color: pink;
}

.dropdown-menu selected {
	background-color: red;
}

.dropdown-menu a {
	display: block;
	text-decoration: none;
	padding: 10px;
}

.dropdown-menu label {
	display: block;
	cursor: pointer;
	background: url(../../assets/filter.svg) no-repeat left center;
	padding: 30px 0 30px 40px;
}

/* Toggle Effect */

.menu-content {
	max-height: 0;
	overflow: hidden;
}

input:checked ~ .menu-content {
	max-height: 1000px;
	transition: all ease 1s;
}

input:checked ~ label {
	background: url(../../assets/filter.png) no-repeat left center;
}

@media screen and (max-width: 600px) {
	.dropdown-menu {
		width: 100%;
	}
}