.sort-btn {
    background-color: #FFDDD7;
	border: none;
	padding: 8px 16px;
	transition-duration: 0.4s;
	cursor: pointer;
}

.sort-btn img {
	width: 40px;
	height: 40px;
}

.sort-btn:focus {outline:0;}

.sort-btn:hover {
	background-color: #FF917D;
	color: white;
}
