.collection-header {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 8vh;
	margin-top: 1.6em;
}

.collection-header h1 {
	background-color: azure;
	padding: 0.5em;
}

.collection-wrapper {
	min-height: 100vh;
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	/* font-size: calc(10px + 2vmin); */
	color: #282c34;
}

.collection-wrapper img {
	max-width: 300px;
	height: auto;
}

.collection-wrapper h3 {
	top: 40vh;
	position: absolute;
}

.collection-item {
	background-color: #ffffff;
	margin: 1em;
	padding: 1em;
	/* font-size: 1rem; */
	cursor: pointer;
}
